@import "../../../src/css/reset.css";
@import "../../../src/scss/partials";
@import "../../../src/scss/font";
@import "../../../src/scss/nav-header_and_footer";
@import "../../../src/scss/nav-header_and_footer_responsive";

body {
  margin: 0 auto;

  main {
    margin-bottom: 160px;

    .locations {
      .locations {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-bottom: 20px;

        @media screen and (max-width: 900px) {
          display: block;
        }

        &.belgium {
          flex-direction: row-reverse;
        }

        &.united-kingdom {
          flex-direction: row-reverse;
        }

        .container_img {
          img {
            border-radius: 15px;
          }

          @media screen and (max-width: 900px) {
            display: none;
          }
        }

        .container_img--tablet {
          display: none;

          @media screen and (max-width: 900px) {
            display: block;
            text-align: center;
          }

          @media screen and (max-width: 570px) {
            display: none;
          }

          img {
            @media screen and (max-width: 900px) {
              width: 90%;
              height: 350px;
              border-radius: 15px;
              display: block;
              margin-left: auto;
              margin-right: auto;
            }
          }
        }

        .container_img--mobile {
          display: none;

          @media screen and (max-width: 570px) {
            display: block;
            text-align: center;
            margin: 0;
            padding: 0;
          }

          img {
            border-radius: 15px;

            @media screen and (max-width: 570px) {
              display: block;
              width: 100%;
              border-radius: 0%;
            }
          }
        }

        .container_locations_contacts {
          background: url(../../../src/img/Locations/bg.png) center/cover
            no-repeat;
          width: 730px;
          height: 326px;
          border-radius: 15px;

          @media screen and (max-width: 900px) {
            background: url(../../../src/img/Locations/bg-tablet.png)
              center/cover no-repeat;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 80px;
          }

          @media screen and (max-width: 570px) {
            background: url(../../../src/img/Locations/bg-phone.png)
              center/cover no-repeat;
            text-align: center;
            padding-bottom: 80px;
            width: 100%;
            border-radius: 0%;
            margin-bottom: 40px;
            margin-top: 0;
            display: inline-block;
          }

          h2 {
            color: $peach;
            margin-bottom: 24px;
            margin-left: 95px;
            margin-top: 100px;

            @media screen and (max-width: 900px) {
              margin-top: 10px;
              padding-top: 88px;
              margin-left: 75px;
            }

            @media screen and (max-width: 570px) {
              margin-left: auto;
              margin-right: auto;
              padding-top: 80px;
            }
          }

          ul {
            list-style: none;
            display: flex;
            gap: 60px;
            margin-left: 95px;

            @media screen and (max-width: 900px) {
              margin-left: 75px;
            }

            @media screen and (max-width: 570px) {
              display: block;
              margin-left: auto;
              margin-right: auto;
            }

            li {
              font-size: 15px;

              h4 {
                font-weight: 700;
                font-size: 16px;
                line-height: 26px;
              }

              a {
                text-decoration: none;
                color: $black;
                font-size: 15px;
              }

              @media screen and (max-width: 570px) {
                margin-top: 24px;
              }
            }
          }
        }
      }
    }
  }
}
