body {
    .shape_header {
        @include tablet {
            display: none;
        }
    }

    .shape_footer {
        @include tablet {
            display: none;
        }
    }

    header {
        .article_header {
            @include tablet {
                max-width: 689px;
                height: 632px;
                flex-direction: column;
                justify-content: initial;
            }

            @include mobile {
                width: 100%;
                height: initial;
                border-radius: initial;
            }

            .container-txt_article_header {
                @include tablet {
                    order: 2;
                    margin: 64px auto;
                    text-align: center;
                }

                @include mobile {
                    margin: 80px auto;
                }

                .title_article_header {
                    @include mobile {
                        margin-bottom: 24px;
                    }
                }

                .txt_article_header {
                    @include tablet {
                        max-width: 573px;
                    }

                    @include mobile {
                        font-size: 15px;
                        line-height: 25px;
                        margin-bottom: 0px;
                    }
                }
            }

            .container-img_article_header {
                @include tablet {
                    order: 1;
                    width: 100%
                }

                .img_article_header {
                    @include img_display;

                    @include mobile {
                        width: 100%;
                    }
                }
            }

            .circle_header1 {
                @include tablet {
                    bottom: 101px;
                    left: -122px;
                }

                @include mobile {
                    display: none;
                }
            }

            .circle_header2 {
                @include mobile {
                    display: block;
                    position: absolute;
                    top: 181px;
                    right: 292px;
                    width: 292px;
                    height: 292px;
                    background: linear-gradient(90deg, rgba(93, 2, 2, 0.0001) 0%, rgba(93, 2, 2, 0.497569) 100%);
                    mix-blend-mode: normal;
                    opacity: 0.31;
                    border-radius: 50%;
                    z-index: 0;
                    box-sizing: border-box;
                    transform: rotate(-180deg)
                }
            }

            .circle_header3 {
                @include mobile {
                    display: block;
                    position: absolute;
                    top: 181px;
                    right: 0px;
                    width: 292px;
                    height: 292px;
                    background: linear-gradient(90deg, rgba(93, 2, 2, 0.0001) 0%, rgba(93, 2, 2, 0.497569) 100%);
                    mix-blend-mode: normal;
                    opacity: 0.31;
                    border-radius: 50%;
                    z-index: 0;
                    box-sizing: border-box;
                    transform: rotate(90deg)
                }
            }
        }
    }

    main {
        .article_main {
            @include tablet {
                flex-direction: column;
                text-align: center;
                max-width: 689px;
                margin: 120px auto;
            }

            @include mobile {
                width: 100%;
                margin-top: 0px;
                border-radius: initial;
            }

            .container-txt_article_main {
                @include tablet {
                    margin: 68px auto;
                    max-width: 572px;
                }

                @include mobile {
                    min-height: 545px;
                    max-width: 327px;
                    margin-top: 80px;
                    margin-bottom: 0px;
                    font-size: 15px;
                    line-height: 25px;
                    letter-spacing: initial;
                }

                &.deal {
                    @include tablet {
                        order: 2;
                    }
                }

                .paragraphe_article_main {
                    &.one {
                        @include mobile {
                            margin-bottom: 25px;
                        }
                    }
                }
            }

            .container-img_article_main {
                &.deal {
                    @include tablet {
                        order: 1;
                    }
                }

                @include mobile {
                    width: 100%;
                }

                .img_article_main {
                    @include img_display;

                    @include mobile {
                        width: 100%;
                    }
                }
            }

            .circle_talent1 {
                @include tablet {
                    bottom: 336px;
                    left: 94px;
                }

                @include mobile {
                    bottom: 253px;
                    left: 0px;
                }
            }

            .circle_talent2 {
                @include tablet {
                    bottom: 44px;
                    left: 94px;
                }

                @include mobile {
                    bottom: -39px;
                    left: 0px;
                }
            }

            .circle_talent3 {
                @include tablet {
                    bottom: 44px;
                    left: 386px;
                }

                @include mobile {
                    bottom: -39px;
                    left: 292px;
                }
            }

            .circle_deal1 {
                @include tablet {
                    bottom: 44px;
                    left: 94px;
                }

                @include mobile {
                    bottom: -39px;
                    left: 0px;
                }
            }

            .circle_deal2 {
                @include tablet {
                    bottom: 44px;
                    left: 386px;
                }

                @include mobile {
                    bottom: -39px;
                    left: 292px;
                }
            }

            .circle_deal3 {
                @include tablet {
                    display: block;
                    position: absolute;
                    bottom: 336px;
                    left: 94px;
                    width: 292px;
                    height: 292px;
                    background: linear-gradient(90deg, rgba(93, 2, 2, 0.0001) 0%, rgba(93, 2, 2, 0.497569) 100%);
                    mix-blend-mode: normal;
                    opacity: 0.06;
                    transform: matrix(-1, 0, 0, 1, 0, 0);
                    border-radius: 50%;
                    z-index: 0;
                    box-sizing: border-box;
                }

                @include mobile {
                    bottom: 253px;
                    left: 0px;
                }
            }
        }

        .section_location {
            @include tablet {
                max-width: 689px;
            }

            @include mobile {
                margin-bottom: 120px;
                width: 100%;
            }

            .list_location {
                @include tablet {
                    flex-direction: column;
                    padding: initial;
                }

                .item_location {
                    &.belgium {
                        @include tablet {
                            margin-bottom: 80px;
                        }

                        @include mobile {
                            margin-bottom: 48px;
                        }
                    }

                    &.australia {
                        @include tablet {
                            margin-bottom: 48px;
                        }

                        @include mobile {
                            margin-bottom: 48px;
                        }
                    }
                }
            }
        }
    }
}